* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

/*expand container as needed*/

.container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/dbb.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: center;
}
.list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    list-style: none;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 45px; 
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

/* for mobile devices */
@media (min-width: 1200px) {
    .row{
    display: flex;
    flex-direction: row !important;
    align-items: center;
}
}

.main {
    display: flex;
    gap: 4rem;
}

/*use flex for boxes on mobile*/
@media (max-width: 1200px) {
    .boxes {
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px !important;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .toppart {
        scale: 0.8;
    }
    .boxes {
        margin-bottom: 2rem;
    }
}

.boxes {
    display: grid;
    gap: 20px !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 90px;
    margin-bottom: 10px;
}
p{
    color: #fff;
    font-size: 14px;
    line-height: 15px;
}
button{
    width: 180px;
    height: 40px;
    color: #000;
    font-size: 12px;
    padding 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

a:link {
    text-decoration: none;
}

.card{
    width: 200px;
    overflow-wrap: break-word;
    color: white;
    text-shadow: #000 0 0 20px;
    text-decoration: none !important;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 800;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    background-image: url(images/picture1.jpg.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(images/zaza%20tarihi.jpg);
}

.card2{
    background-image: url(images/indir.jpg);
}
.card3{
    background-image: url(images/population1.jpg);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    font-size: 15px;
    color:#fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}